*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

body {
  font: 1.125rem/2rem "Mulish", Sans-Serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 80rem;
}

@media all and (min-width: 48rem) {
  .main-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
header.primary {
  background: #2563EB; /* fallback for old browsers */
  background: linear-gradient(to right, #2563EB, #1E40AF);
  color: #ffffff;
}
@media all and (min-width: 48rem) {
  header.primary {
    padding: 1.5rem;
  }
  header.primary .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

footer.primary {
  background: #1E40AF; /* fallback for old browsers */
  background: linear-gradient(to right, #2563EB, #1E40AF);
  color: #ffffff;
  padding: 1rem 1.25rem;
  /*
  @include mq('lg') {
    padding: map-get($spacing, md);
  }
  */
}
footer.primary a {
  text-decoration: underline;
}
footer.primary .wrapper {
  display: flex;
  justify-content: space-between;
}

.site-title {
  display: block;
  font: 400 1rem/1.5rem "Exo 2", Serif;
  font-size: 2.5rem;
  padding: 1.25rem;
}
@media all and (min-width: 48rem) {
  .site-title {
    padding: 0;
    font-size: 2.5rem;
  }
}

aside {
  padding: 1.5rem 1rem 0;
}
aside picture {
  display: block;
  text-align: center;
}
aside picture img {
  border-radius: 1rem;
}
aside figcaption {
  display: block;
  font-size: 1rem;
  margin: 0.75rem 0;
  text-align: center;
}
aside .social-icons {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
}
aside .social-icons svg {
  fill: #2563EB;
}

main {
  background: white;
  padding: 0.75rem 1rem;
}
@media all and (min-width: 48rem) {
  main {
    font-size: 1.125rem;
  }
}

nav.primary {
  border: solid 1px white;
  border-width: 1px 0 0 0;
  padding: 0.75rem 1.25rem;
}
@media all and (min-width: 48rem) {
  nav.primary {
    border: 0;
    padding: 0;
  }
}
nav.primary ul {
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 48rem) {
  nav.primary ul {
    justify-content: flex-end;
  }
}
nav.primary ul li a {
  display: inline-block;
}
nav.primary ul li a:hover {
  text-decoration: underline;
}
@media all and (min-width: 48rem) {
  nav.primary ul li a {
    font-size: 1.125rem;
    margin: 0 0 0 2rem;
  }
}

h1 {
  font: 400 1rem/1.5rem "Exo 2", Serif;
  font-size: 2rem;
  line-height: 1.25em;
  margin: 0.75rem 0 0.75rem;
}
@media all and (min-width: 48rem) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font: 400 1rem/1.5rem "Exo 2", Serif;
  font-size: 1.5rem;
  line-height: 1.25em;
  margin: 0.75rem 0 0.75rem;
}
@media all and (min-width: 48rem) {
  h2 {
    font-size: 2rem;
  }
}

article {
  border: solid 1px #ccc;
  border-width: 0 0 1px 0;
  margin: 0 0 1.5rem 0;
  padding: 0 0 1.25rem 0;
}
article time {
  font: 400 1rem/1.5rem "Exo 2", Serif;
}
article .tags ul li {
  font: 400 1rem/1.5rem "Exo 2", Serif;
  font-size: 1rem;
  padding: 1rem 1rem 0 0;
}

hr {
  border: solid 1px #d4d4d4;
  border-width: 0 0 1px 0;
  margin: 0 0 1rem 0;
}

p {
  margin: 0 0 1rem 0;
}

/*# sourceMappingURL=index.css.map */
