{% if item.image %}
<figure itemprop="image"
		itemscope
		itemtype="http://schema.org/ImageObject"
		class="{{ item.image.class }}">
		<img src="{{ site.url }}{{ item.image.src }}" alt="{{ item.image.alt }}" />
		<meta itemprop="caption" content="{{ item.image.alt }}">
		<meta itemprop="url" content="{{ site.url }}{{ item.image.src }}">
		<meta itemprop="width" content="{{ item.image.width }}">
		<meta itemprop="height" content="{{ item.image.height }}">
		{% if item.image.caption %}<figcaption itemprop="caption">{{ item.image.alt }}</figcaption>{% endif %}
</figure>
{% endif %}
