<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"name": "Eric Carlisle",
	"givenName": "Eric",
	"familyName": "Carlisle",
	"image": "{{ .Site.BaseURL }}img/global/eric-carlisle-800x800.png",
	"jobTitle": "UI Developer, UX Designer",
	"url": "http://www.ericcarlisle.com",
	"sameAs" : [
		"https://twitter.com/eric_carlisle",
		"https://www.linkedin.com/in/ericcarlisle",
		"https://github.com/ecarlisle",
		"https://www.slideshare.net/ericcarlisle",
		"https://medium.com/@eric_carlisle"
	]
}
</script>
<figure>
	<a href="{{ .Site.BaseURL }}">
		<img class="headshot" src="/img/global/eric-carlisle-400x400.png" alt="Eric Carlisle">
	</a>
	<figcaption class="name-title">
		<div>
			Eric Carlisle
		</div>
		<div>
			<span>UI Developer,</span>
			<span>UX Designer</span>
		</div>
	</figcaption>
</figure>
<ul class="social-icons">
	<li>
		<a href="https://twitter.com/eric_carlisle" title="Eric's Twitter Profile" target="_blank">
			<img src="/img/global/twitter-icon.svg" alt="Twitter Logo" />
		</a>
	</li>
	<li>
		<a href="https://github.com/ecarlisle" title="Eric's LinkedIn Profile" target="_blank">
			<img src="/img/global/github-icon.svg" alt="Slideshare Logo" />
		</a>
	</li>
	<li>
		<a href="https://www.linkedin.com/in/ericcarlisle" title="Eric's LinkedIn Profile" target="_blank">
			<img src="/img/global/linkedin-icon.svg" alt="LinkedIn Logo" />
		</a>
	</li>
	<li>
		<a href="https://www.slideshare.net/ericcarlisle" title="Eric's LinkedIn Profile" target="_blank">
			<img src="/img/global/slideshare-icon.svg" alt="Slideshare Logo" />
		</a>
	</li>
	<li>
		<a href="https://medium.com/@eric_carlisle" title="Eric's Medium Profile" target="_blank">
			<img src="/img/global/medium-icon.svg" alt="Medium Logo" />
		</a>
	</li>
</ul>
