{% assign item_url = site.url | append: item.url %}
<li>
	<article itemscope itemtype="http://schema.org/blogPosting" class="cf">
		<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{ item_url }}" />
		<a href="{{ item_url }}">
			<h2 itemprop="headline" itemprop="mainEntityOfPage">
				{{ item.title }}
			</h2>
		</a>
		{% include article-subtitle.html %}
		<div itemprop="articleBody">
			{% include article-image.html %}
			{{ item.excerpt }}
		</div>
	</article>
</li>
