// ----- Image Galleries ----- //
.image-gallery {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3rem 0;
	a {
		color: transparent;
	}
	img {
		margin: 1rem;
		border: 1px solid $border-color;

	}
}

// ----- Presentations ----- //
ul.presentation-resource-list {
	list-style-type: none;
	margin: 2rem 0 2rem 3rem;
	padding: 0;
	li {
		img {
			width: 1.6rem;
			height: auto;
		}
	}
}

// ---- Disqus Thread ----- //
#disqus_thread {
	margin-top: 7rem;
}


// ---- Portfolio ----- //
#portfolio {
	hr {
		margin-bottom: 3rem;
	}
	figure.logo {
		margin: 2rem 0 0 0;
		text-align: center;
		width: 100%;
		@include bp(lg) {
			text-align: right;
		}
		img {
			height: auto;
			max-width: 75%;
			@include bp(lg) {
				max-width: 100%;
			}
		}
		figcaption {
			font-size: 13px;
		}
	}
	figure.screen {
		display: block;
		text-align: center;
		border: solid 1px red;
		figcaption {
			font-size: 13px;
		}
		img {
			box-shadow: 3px 3px 5px #ccc; // TODO
			border: solid 1px #666; // TODO
		}
	}
}

// ----- Responsive Debug ----- //
#responsive-debug {
	position: absolute;
	top: 10rem;
	right: 36px;

	.xs, .sm, .md, .lg, .xl {
		background: #666;
		color: #fff;
		display: none;
		border: solid 1px #000;
		padding: 1rem;
		margin: 0;
		font-family: monospace;
		line-height: 1;
		position: absolute;
		top: 0;
		left: 0;
	}

	.xs {
		z-index: 100;
		display: block;
	}
	.sm {
		z-index: 101;
	}
	.md {
		z-index: 102;
	}
	.lg {
		z-index: 103;
	}
	.xl {
		z-index: 104;
	}

	@include bp(sm) {
		.xs {
			display: none;
		}
		.sm {
			display: block;
		}
	}
	@include bp(md) {
		.sm {
			display: none;
		}
		.md {
			display: block;
		}
	}
	@include bp(lg) {
		.md {
			display: none;
		}
		.lg {
			display: block;
		}
	}
	@include bp(xl) {
		.lg {
			display: none;
		}
		.xl {
			display: block;
		}
	}
}
