// ---------- Colors ---------- //
$dark-blue: #26547C;
$med-blue: #6d8bb2;
$light-blue: #c0ccdd;
$lightest-blue: #dee5ee;
$gold: #af9359;

$dark-gray: #666;
$lightest-gray: #e9e9e9;
$light-gray: #d0d0d0;
$link-color: #ffd271;
$border-color: #666666;
$black: #333;
$white: #fff;

// ---------- Fonts ---------- //
// TODO : Get git of repeat stack.
$header-footer-font-stack: 'Exo 2', 'Helvetica Neue', Helvetica, sans-serif;
$title-font-stack: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
$content-font-stack: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
