#content-roll {
	padding: 0;
	margin: 0;
}

h1.list-title, h2.list-title {
//	background: $med-blue;
//	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: $dark-blue; // $white;
	font-family: Roboto;
	font-size: 3.2rem;
	margin-bottom: 1.4rem;
	padding: 0.8rem 1rem 0.6rem;
//	text-transform: uppercase;
}

article {
	background: $white;
	border: solid 1px $light-gray;
	margin-bottom: 1rem;
	padding: 2rem 3rem 2rem 2rem;
//	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	@include bp(md) {
		margin-bottom: 2rem;
		padding: 2rem 3rem 2rem 2rem;
	}
	@include bp(lg) {
		margin-bottom: 1.6rem;
	}

	figure {
		display: block;
		text-align: center;
		img {
			height: auto;
			margin: 2rem 0 0 0;
			max-width: 30rem;

			@include bp(md) {
				display: inline-block;
				float: right;
				margin: 1rem 0 2rem 3rem;
			}
		}
	}
}

article.hero {
	border: solid 1px $light-gray;
}

.article-subtitle {
	color: $gold;
	display: flex;
	font-family: Roboto; // TODO
	font-weight: 500;
	font-size: 1.3rem;
	flex-direction: column;
	@include bp(sm) {
		flex-direction: row;
		justify-content: space-between;
		font-size: 1.6rem;
	}
	justify-content: space-between;
	line-height: 1;
	padding: 1rem 0 1.8rem 0;
	@include bp(sm) {
		padding: 0;
	}
	@include bp(md) {
		border-bottom: solid 1px $light-gray;
		padding-bottom: 1rem;
		margin-bottom: 2rem;
	}
	>ul {
		display: flex;
		justify-content: space-between;
		@include bp(sm) {
			justify-content: flex-start;
		}
		padding: 0;
		margin: 0;
		>li {
			list-style-type: none;
			@include bp(sm) {
				padding-right: 1rem;
			}
			@include bp(lg) {
				padding-right: 1.6rem;
			}
		}
	}
	.a2a_kit {
		margin: 0 auto;
		margin-top: 2rem;
		@include bp(sm) {
			margin: 0;
		}
	}
}

.section-title {
	background-color: $dark-blue;
	border-radius: 0.3rem;
	color: $lightest-gray;
	font-size: 1.6rem;
	margin: 1rem 0;
	padding: 0.5rem 2rem;
	text-transform: uppercase;
}

// TODO : Clean this up!
article.portfolio {
	>section {
		display: flex;
		>div {
			&.logo {
				display: none;
				@include bp(lg) {
					display: block;
				}
				width: 30%;
				padding: 0 3rem 0 0;
				text-align: right;
			}
			&.content {
				@include bp(lg) {
					width: 70%;
				}
				figcaption {
					text-align: center;
				}

			}
		}
		figure {

			&.logo {
				display: inline-block;
				margin: 0 2rem 0 0;
				text-align: right;
			}
			a {
				display: block;
			}
			img {
				float: none;
				margin: 0;
				max-width: 100%;
			}
		}
		figcaption {
			font-size: 1.3rem;
		}
	}
}

figure.highlight {
	font-family: monospace;
	margin: 1rem 0 2rem;
	padding: 1.6rem 2rem;
	text-align: left;
}
