footer.page-footer {
	background: $med-blue;
	border-top: solid 1px $dark-blue; // TODO
	color: $white;
	font-family: $header-footer-font-stack; //TODO
	font-size: 1.6rem;
	margin: 3rem 0 0;
	padding: 1rem 3rem;
	text-align: right;
}
