// Floats and clears
.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.rfloat {
	float: right;
}

.lfloat {
	float: left;
}

// Displays
.hidden {
	display: none;
}

.block {
	display: block;
}

.iblock {
	display: block;
}

.inline {
	display: block;
}

.small {
	font-size: 1.3rem;
}

.flex-spacearound {
	display: flex;
	justify-content: space-around;
}

// Padding adjusters
@for $i from 0 through 5 {
	.pad#{$i} { padding: #{$i}rem; }
	.tpad#{$i} { padding-top: #{$i}rem; }
	.rpad#{$i} { padding-right: #{$i}rem; }
	.bpad#{$i} { padding-bottom: #{$i}rem; }
	.lpad#{$i} { padding-left: #{$i}rem; }
}

// Margin adjusters
@for $i from 0 through 5 {
	.mar#{$i} { padding: #{$i}rem; }
	.tmar#{$i} { margin-top: #{$i}rem; }
	.rmar#{$i} { margin-right: #{$i}rem; }
	.bmar#{$i} { margin-bottom: #{$i}rem; }
	.lmar#{$i} { margin-left: #{$i}rem; }
}
