// ---------- Breakpoint Widths ---------- //
$breakpoints: (
	sm : 567px,
	md : 768px,
	lg : 992px,
	xl : 1200px,
);

// ---------- Media Queries ---------- //
@mixin bp($size) {
	@media all and (min-width: map-get($breakpoints, $size)) {
		@content;
	}
}

// --------- Web Font Faces ---------- //
@mixin fontface ($name, $file, $weight, $style) {
  @font-face {
    font-family: '#{$name}';
    src: url('../fonts/#{$name}/#{$file}.woff') format('woff2'),
       url('../fonts/#{$name}/#{$file}.woff') format('woff'),
       url('../fonts/#{$name}/#{$file}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

// --------- Grids ---------- //
@mixin column-set ($columns) {
	@each $name, $width in $breakpoints {
    @for $j from 1 through $columns {
    	@media (min-width: $width) {
	        .col-#{$name}-#{$j}-#{$columns} {
	          width: $j / $columns * 100%;
	        }
	      }
    }
  }
}
