// ----- Main Navigation ----- //
nav.page-navigation {
	background: $med-blue;
	border: solid 1px white;
	border-width: 1px 0;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	display: none;
	font-size: 1.4rem;
	margin-bottom: 3rem;
	text-transform: uppercase;
	z-index: 1;

	@include bp(sm) {
		display: block;
		text-align: right;
	}

	a {
		color: $white;
		display: inline-block;
		height: 100%;
		padding: 1rem 2rem;
		&.active {
			background: $white;
			color: $med-blue;
			text-decoration: underline;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
		@include bp(sm) {
			display: flex;
			font-size: 1.4rem;
			justify-content: space-around;
			max-width: 100%;
			padding: 0;
		}
		@include bp(md) {
			display: block;
			text-align: right;
		}
		li {
			font-family: Roboto; // Montserrat, Serif; // TODO
			font-weight: 400;
			@include bp(sm) {
				display: inline-block;
			}
		}
	}
}
