// Google Custom Search
input.gsc-search-button.gsc-search-button-v2 {
	height: 2.3rem;
	margin: 0;
	width: 6.7rem;
}
.cse .gsc-control-cse, .gsc-control-cse {
	padding: 0 !important;
	margin-right: 2rem;
}

div.gsc-control-cse.gsc-control-cse-en {
	border-width: 0 !important;
}

form.gsc-search-box {
	margin-bottom: 0 !important;
}

table.gsc-search-box {
	margin-bottom: 0 !important;
}

// Add to Any

#content-roll .a2a_kit.a2a_default_style {
	display: none;
}

.a2a_svg, .a2a_count {
	margin: 0 0.5rem 0 0;
	height: 2.4rem !important;
	width: 2.4rem !important;
}
