// ----- Page Profile ----- //
#page-profile {
	align-items: center;
	padding: 0 1rem;
	display: flex;

	.name-title {
		font-family: Montserrat, Serif; // TODO
		margin: 0.5rem 0;
	}

	@include bp(md) {
		display: block;
	}

	figure {
		text-align: center;
		display: inline-block;
		img.headshot {
			border: solid 1px $dark-blue;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			display: none;
			height: auto;
			margin: 0;

			@include bp(md) {
				display: inline-block;
				max-width: 100%;
			}
		}

		figcaption {
			display: none;
			font-size: 1.6rem;
			line-height: 2.4rem;
			@include bp(md) {
				display: block;
			}
		}
	}

	ul.social-icons {
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		margin: 2rem 0 1rem 0;
		padding: 0;
		width: 100%;
		@include bp(sm) {
			margin: 2rem 1rem 1rem 1rem;
		}
		@include bp(md) {
			justify-content: space-around;
			margin: 1rem 0 0 0;
		}
		li {
			display: inline-block;
			grow: 1;
		}
		img {
			height: auto;
			width: 2.6rem;
			@include bp(sm) {
				width: 3.2rem;
			}
			@include bp(md) {
				width: 2.4rem;
			}

			@include bp(lg) {
				width: 2.6rem;
			}

			@include bp(xl) {
				width: 3rem;
			}
		}
	}
}
