/*
Eric Carlisle : UI Developer, UX Designer
*/
@import 'config';
@import 'mixins';
@import 'layout';
@import 'header';
@import 'profile';
@import 'content';
@import 'sidebar';
@import 'components';
@import 'footer';
@import 'navigation';
@import 'code';
@import 'overrides';

*, *:after, *:before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: #FAFAFA; // TOBO $lightest-gray;
	color: rgba(0,0,0, 0.7); // TODO $black;
	font-family: $content-font-stack;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.8rem;
	margin: 0 auto;
	max-width: 200rem;
	padding: 0;
}

figure {
	margin: 0;
	image {
		display: inline-block;
	}
}

a {
	color: $med-blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	font-family: $title-font-stack;
	font-weight: 400;
}

h1, h2 {
	font-size: 1.8rem;
	line-height: 3rem;
	margin: 0 0 1.5rem 0;
	@include bp(sm) {
		font-size: 2.0rem;
	}
	@include bp(md) {
		font-size: 2.2rem;
	}
	@include bp(lg) {
		font-size: 2.4rem;
	}
	@include bp(lg) {
		font-size: 2.6rem;
	}
}

h3 {
	font-size: 2rem;
	margin: 0;
}

p {
	padding: 0 0 1.6rem 0.5rem;
}

.page-container {
	@include bp(sm) {
		padding: 1rem 1rem 0;
	}
	@include bp(md) {
		padding: 2rem 2rem 0;
	}
}

hr {
	border: solid 1px #ccc;
	border-width: 1px 0 0 0;
	margin: 3rem 0;
}

